.Poster{
    display: flex;
    width: 100%;
    height: 85vh;
    border: 2px solid #000;
    border-radius: 12px;
    overflow: hidden;
    transform: translateY(-50px);
    box-shadow: 0 0 25px rgba(29, 29, 29, 0.95);
    transition: .5s ease;
}
.Poster:hover{
    border: 2px solid var(--Main_Color);
    box-shadow: 0 0 25px var(--Main_Color);
}
.Poster img{
    width: 100%;
    height: 120%;
}

@media ( max-width: 500px ) {
    .Poster{
        height: 50%;
    }
}