.BigTitle{
    margin-bottom: 30px;
    font-size: 1.5em;
    text-align: center;
    word-wrap: break-word;
    border-bottom: 2px solid var(--Main_Color);
}
.BigTitle p{
    margin-bottom: 50px;
}
.BigTitle h1{
    margin-bottom: 20px;
}